/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/node_modules/
/vendor/lib/ggml-metal.metal
/vendor/lib/ggml-metal-embed.metal
/vendor/tmp/llama.cpp/ggml-metal-embed.metal
/vendor/include/*.h
*.bundle
*.so
*.dylib
*.dll
*.o
*.a
*.lock
*.log
